<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="product_id" value="..."/>
    <add key="sandbox_id" value="..."/>
    <add key="deployment_id" value="..."/>
    <add key="client_id" value="..."/>
    <add key="client_secret" value="..."/>
    <add key="itchio_client_id" value="..."/>
    <add key="itchio_redirect_uri" value="http://127.0.0.1:30411/"/>
  </appSettings>
</configuration>